<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<head th:replace="common/common :: header">
</head>
<title th:utext="#{timepunch.title}"/>

<body>
<div id="webapp">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 th:utext="#{timepunch.title}"/></div>
        <form class="form-horizontal">
            <div class="server-time">
                <label v-text="date"></label>
                <label v-text="realTime"></label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><p th:text="#{common.label.username}"/></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="username"
                           th:placeholder="#{common.label.username}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><p th:text="#{common.label.password}"/></div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="password"
                           th:placeholder="#{common.label.password}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" th:value='#{timepunch.button.start}'
                       onclick="javascript:vm.startWork();"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="btn btn-warning" th:value='#{timepunch.button.end}'
                       onclick="javascript:vm.endWork();"/>&nbsp;&nbsp;
            </div>
        </form>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <label class="text-success"
                       style="font-size: 18px;" v-model="message">{{vm.message}}</label>
            </div>
            <div class="form-group">
                <table class="table-bordered" style="width: 100%">
                    <tr>
                        <td style="text-align: center;width: 40%;height: 40px;">出勤日：</td>
                        <td style="padding-left:40px"><label class="text-success"
                                                             style="font-size: 18px;"
                                                             v-model="dayOfMonth">{{vm.dayOfMonth}}</label></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;height: 40px;">出勤時間：</td>
                        <td style="padding-left:8px"><label class="text-success"
                                   style="font-size: 18px;"
                                   v-model="startTime">{{vm.startTime}}</label></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;height: 40px;">退勤時間：</td>
                        <td style="padding-left:8px"><label class="text-success"
                                   style="font-size: 18px;"
                                   v-model="endTime">{{vm.endTime}}</label></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<script th:src="@{'/js/tmg/timepunch.js?'+ ${#strings.randomAlphanumeric(10)}}"></script>
</body>
</html>